{% extends "base.html.twig" %}
{% block content %}
<div id="layoutSidenav_content">
                <main>
                   
                        
                        <ol class="breadcrumb mb-4">
                          
                        </ol>
                       
                        
 <div class="card-body">
{{ form(a) }}
<a href="{{ path("afficherU") }}">retour</a>
</main>
</div>
{% endblock %}